.base {
  margin: 10px 0;
}

.base .component-title {
  width: 90%;
}

.data-character-list {
  border: 2px solid #80B918;
  border-radius: 25px;
  font-size: 16px;
}

table {
  width: 1000px;
}