.data-input {
  color: #2B9348;
  font-weight: bold;
}

input {
  background-color: #AACC00;
}

.data-instructions {
  
}

.data-id {
  
}

.data-physical {
  
}

.data-mental {

}

.data-intrinsic {

}
