.App {
  text-align: center;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
}

/*  
  Character Input Styling
*/
.data-instructions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 40%;
  margin: 0;
}

.data-id {
  
}

.attributes {
  display: flex;
  flex-flow: row nowrap;
}

.data-physical {
  justify-content: flex-start;
}

.data-mental {

}

.data-intrinsic {
  display: flex;
  flex-flow: row nowrap;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=number]{
  width: 40px;
}

.str {
  color: red;
  font-weight: bold;
}

.dex {
  color: green;
  font-weight: bold;  
}

.con {
  color: orange;
  font-weight: bold;
}

.int {
  color: blue;
  font-weight: bold;
}

.wis {
  color: grey;
  font-weight: bold;
}

.cha {
  color: purple;
  font-weight: bold;
}

/* 1em === 16px */
@media only screen and (min-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}

@media only screen and (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
}

@media only screen and (min-width:600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media only screen and (min-width:801px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}

@media only screen and (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
}

@media only screen and (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}
