.App {
  /* background-color: #AACC00; */
  text-align: center;
}

.app-title {
  font-size: 20px;
  font-weight: bold;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  color: #007F5F;
}

.component-title {
  border-radius: 25px;
  background-color: #BFD200;
  font-size: 18px;
  font-weight: bold;
  color: #007F5F;
  width: 33%;
  align: center;
}


nav a {
  background-color: #007F5F;
  color: #DDDF00;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 5px 2px 5px;
  border-radius: 10px;
  font-weight: bold;
}

/*  
  Character Input Styling
*/
.data-instructions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  width: 40%;
  margin: 0;
}

.data-id {
  
}

.attributes {
  display: flex;
  flex-flow: row nowrap;
}

.data-physical {
  justify-content: flex-start;
}

.data-mental {

}

.data-intrinsic {
  display: flex;
  flex-flow: row nowrap;
}





.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

input[type=number]{
  width: 40px;
}

.str {
  color: red;
  font-weight: bold;
}

.dex {
  color: green;
  font-weight: bold;  
}

.con {
  color: orange;
  font-weight: bold;
}

.int {
  color: blue;
  font-weight: bold;
}

.wis {
  color: grey;
  font-weight: bold;
}

.cha {
  color: purple;
  font-weight: bold;
}

/* 1em === 16px */
@media only screen and (min-width:320px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
}

@media only screen and (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
}

@media only screen and (min-width:600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
}

@media only screen and (min-width:801px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}

@media only screen and (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
}

@media only screen and (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #BFD200; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: 0 #2B9348; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EEEF20; 
}

/* Color Palette

--spanish-viridian: #007f5fff;
--spanish-green: #2b9348ff;
--green-ryb: #55a630ff;
--apple-green: #80b918ff;
--android-green: #aacc00ff;
--bitter-lemon: #bfd200ff;
--pear: #d4d700ff;
--titanium-yellow: #dddf00ff;
--xanthic: #eeef20ff;
--maximum-yellow: #ffff3fff; */