.App {
  /* background-color: #AACC00; */
  text-align: center;
  font-family: "Bangers", monospace;
  letter-spacing: 1px;
}

.app-title {
  font-size: 18px;
  font-weight: bold;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  color: #007F5F;
}

.mobile {
  border: 2px solid #007F5F;
  border-radius: 20px;
}

.tablet {
  display: none;
}

.desktop {
  display: none;
}

.component-title {
  border-radius: 25px;
  background-color: #BFD200;
  font-size: 16px;
  font-weight: bold;
  color: #007F5F;
  width: 33%;
  align: center;
}

nav a {
  background-color: #007F5F;
  color: #DDDF00;
  text-decoration: none;
  margin: 0 5px;
  padding: 0 5px 2px 5px;
  border-radius: 10px;
  /* font-weight: bold; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.saved-state {
  margin: 1em 0;
  background-color: #DDFF00;
  color: #007F5F;
}

.chaos-image {
  height: 200px;
  width: auto ;
  background-image: url("./images/bluewhitedice_400.png");
  background-position: center;
  background-size: cover;
  align: center;
}

nav {
  margin: 5px 0 5px 0;
}

input[type=number]{
  width: 40px;
}

.str {
  color: red;
  font-weight: bold;
}

.dex {
  color: green;
  font-weight: bold;  
}

.con {
  color: orange;
  font-weight: bold;
}

.int {
  color: blue;
  font-weight: bold;
}

.wis {
  color: grey;
  font-weight: bold;
}

.cha {
  color: purple;
  font-weight: bold;
}

/* 1em === 16px */
@media only screen and (min-width:590px)  { 
  .app-title {
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    color: #007F5F;
  }

  .saved-state {
    margin: 1em 0;
    background-color: #DDFF00;
    color: #007F5F;
    font-size: 24px;
    font-weight: bold;
  }

  .mobile {
    display: none;
  }

  .tablet {
    border: 2px dashed #007F5F;
    border-radius: 20px;
    display: block;
    margin: 0 0 1em 0;
    padding: 5px  
  }

  .desktop {
    display: none;
  }

  .chaos-image {
    /* height: 400px;
    width: auto ;     */
    max-width: 100%;
    max-height: 100%;
    background-image: url("./images/chaos-1.svg");
    background-position: center;
    background-size: cover;
    align: center;    
  }

}

@media only screen and (min-width:1075px) { 
  .mobile {
    display: none;
  }

  .tablet {
    display: none;
  }

  .desktop {
    border: 2px solid #00755f;
    border-radius: 20px;
    display: block;
    padding: 0 0 10px 0;
  }

  .chaos-image {
    height: 200px;
    width: auto ;    
    background-image: url("./images/chaos-2.svg");
    background-position: center;
    background-size: cover;
    align: center;
  }

}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #BFD200; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: 0 #2B9348; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #EEEF20; 
}

/* Color Palette

--spanish-viridian: #007f5fff;
--spanish-green: #2b9348ff;
--green-ryb: #55a630ff;
--apple-green: #80b918ff;
--android-green: #aacc00ff;
--bitter-lemon: #bfd200ff;
--pear: #d4d700ff;
--titanium-yellow: #dddf00ff;
--xanthic: #eeef20ff;
--maximum-yellow: #ffff3fff; */